#.gitignore for the ai assistant project

# Ignore all virtual environments and caches
*__pycache__/
*venv/

# Ignore all torch models (run training scripts to generate)
*.pth

# exclude notes.txt
*notes.txt

# ignore openai

# *openai